.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  background-color: rgba(204, 87, 44, 0.795);
} 

.cards-container {
  display: flex;
  flex-wrap: wrap;
}


